*, *:before, *:after{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:hover, a:hover{
    cursor:pointer;
}

.button{
    background: white;
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
html{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 320px;
}

.main-menu{
    width: 320px;
    display: flex;
    font-family: 'TT Lakes', serif;
    height: 100%;
    justify-content: flex-start;
    /*align-content: flex-start;*/
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    flex-direction: column;
    /*min-height: 770px;*/

}
.header{
    align-self: flex-start;
}
.header__ul{
    display: flex;
    justify-content: flex-start;
    width: 320px;
}
.cancel{
    padding: 23px 8px 25px 24px;
}
.logo{
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    flex-grow: 1;
}
.search{
    padding-top: 23px;
    padding-right: 24px;
    padding-bottom: 25px;
}


.main{
    width: inherit;
    align-self: flex-start;
    flex-grow: 1;

}

.main__ul{
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    align-items: flex-start;

}
.main__ul li{
    width: 320px;

}
.main__ul li button{
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.main__ul li .button:focus,
.main__ul li .button:hover{
    /*color: #7E7E82;*/
    border-left: 4px solid #41F6D7;
    transition-duration: 0.5s;
    filter: opacity(80%);
}

.button:hover{
    transition-duration: 0.7s;
    filter: opacity(80%);
}

.button__repair--state--active{
    color: #7E7E82;
    border-left: 4px solid #41F6D7;
}

.footer{
    width: inherit;
    align-self: flex-end;
}
.footer__ul{
    display: flex;
    justify-content: flex-start;
}
.footer__ul li{
    padding: 8px;
}
.footer__call{
    margin-left: 16px;
}
.footer__email{
    padding: 8px 8px 6px 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}
.footer__number{
    font-size: 24px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    padding: 6px 8px 20px 24px;
    font-weight: 800;
}
.footer__languages{
    padding: 20px 3px 32px 4px;
}
.footer__languages .button{
    width: 24px;
    height: 24px;
}
.footer__languages .button:hover,
.footer__languages .button:focus{
    color: #7E7E82;
}
.footer__ru--state--active{
    color: #7E7E82;
    margin-left: 20px;
}

@media (max-height: 770px) {
    /*.header{*/
    /*    max-height: 20%;*/
    /*}*/
    /*.main {*/
    /*    max-height: 40%;*/
    /*}*/
    .main__ul li button{
        padding: 1.5vh 20px;
        /*margin: 1vh 0;*/
        margin: 0;
    }
    .search, .logo, .cancel{
        padding-bottom: 1vh;
    }
    img:not(.logo__image) {
        max-height: 5vh;
    }
    .logo__image{
        max-height: 6vh;
    }
    .main{
        flex-grow: 1;
    }
    .footer{

    }
    .footer__languages .button{

    }
    .footer__languages{
        margin: 0;
        padding: 0 4px;
    }
    .footer__number{
        padding: 0 24px;
        margin: 0;
    }
    .footer__email{
        padding: 0 24px;
        margin: 0;
    }
}